@charset "UTF-8";

@media screen and (min-width: 769px) {
    section#inicio {
        display: flex;
    }

    div#conta {
        margin-top: 70px;
        padding-left: 45px;
    }

    section#inicio > div#conta h1, h3, p {
        padding: 0px 0px 1px 10px;
    }

    section#inicio > div#conta h1 {
        font-size: 55px;
        font-weight: 550;
    }

    section#inicio > div#conta h3 {
        font-size: 2.0rem;
    }

    section#inicio > div#conta p {
        font-weight: 110px;
        font-size: 18px;
    }

    div.social-icons {
        float: left;
        padding-left: 20px;
    }

    div#container {
        position: absolute;
        white-space: nowrap;
    }

    div#botao {
        margin-top: 45px;
        margin-left: 77px;
        padding: 13px 30px;
    }

    section#inicio > div#img1 {
        margin-top: 100px;
        height: 290px;
    }

    /*AREA SOBRE*/
    div.container {
        display: flex;
    }

    div#sob {
        padding-left: 50px;
    }

    div.container > div#img2 {
        background-size: 92% 100%;
        margin-right: 49px;
        height: 460px;
        width: 290%;
    }

    .conteudo {
        flex-direction: row;
        justify-content: space-between;
    }

    .box:nth-child(1), .box:nth-child(2) {
        width: 45%;
    }

    .box:nth-child(3) {
        width: 45%;
    }

    section#inicio {
        margin-bottom: 90px;
    }
}



@media screen and (min-width: 992px) {
    div#conta {
        margin-top: 70px;
        padding-left: 100px;
    }
}